<section id="solver">
  <div id="solver-area-start" *ngIf="state == SolverState.START">
    <div class="container">
      <div class="row" style="margin-top: 10em;">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
          <div class="form-group">
            <h1>Bitte geben Sie den Testcode ein.</h1>
            <br>
            <input class="form-control" id="solver-code" [(ngModel)]="token">
          </div>
          <br>
          <div class="form-group">
            <button class="btn btn-primary" (click)="start()">Test starten</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-padding" *ngIf="state != SolverState.START">
    <h1 class="title text-center">{{ test }}</h1>
    <div class="text-center">
      Fortschritt
      <div class="progress">
        <div class="progress-bar" role="progressbar" [ngStyle]="{'width': progress + '%'}"></div>
      </div>
    </div>
    <div *ngIf="state == SolverState.SOLVE">
      <app-likert4 *ngIf="item.type == ItemType.LIKERT4"></app-likert4>
      <app-likert5 *ngIf="item.type == ItemType.LIKERT5"></app-likert5>
      <app-singlechoice *ngIf="item.type == ItemType.SINGLE_CHOICE"></app-singlechoice>
      <app-multiplechoice *ngIf="item.type == ItemType.MULTIPLE_CHOICE"></app-multiplechoice>
      <app-python *ngIf="item.type == ItemType.PYTHON"></app-python>
    </div>
    <div *ngIf="state == SolverState.DONE">
      <hr>
      <div class="container">
        <div class="alert alert-success text-center" role="alert"><b>Super!</b> Der Test wurde erfolgreich abgeschlossen!</div>
      </div>
      <hr>
    </div>
  </div>
</section>
