<hr>
<div class="text-center" style="font-size: 35px; margin-top: 40px;">{{ parent.item.question }}</div>
<div class="text-center" style="margin-top: 40px;">
  <textarea rows="10" style="width: 50%;" [(ngModel)]="code"></textarea>
</div>
<div class="text-center" style="margin-top: 20px;">
  <i class="fas fa-info-circle"></i> Der Codestil wird bewertet
</div>
<hr>
<div class="text-center" style="margin-top: 15px;">
  <button type="button" class="btn btn-primary" style="width: 16em;" (click)="next()">Weiter</button>
</div>
