/***** Backgrounds *****/

.bg-main {
  background-color: darkslateblue;
  color: #fff;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

.desc {
  font-size: 1.75rem;
}

.header .col-12:last-child {
  border-top: 1px solid aliceblue;
  text-align: center;
}

@media (min-width: 768px) {
  .header .col-12:last-child {
    border: 0px;
    text-align: left;
  }
}


/***** Typography *****/

.section-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

section .title {
  font-size: 2.75rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}

/***** Box ****/

.box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  margin-top: 10px;
  transition: all .3s ease;
}

.box .title {
  padding-bottom: 10px;
  border-bottom: 1px solid darkblue;
  font-size: 2rem;
}

.box:hover {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16);
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-control {
  background-image: linear-gradient(#00a9ff, #00a9fc), linear-gradient(rgb(210, 210, 210), rgb(211, 211, 211));
  background-size: 0 2px, 100% 1px;
  background-color: transparent;
  float: none;
  font-weight: 400;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  background-repeat: no-repeat;
  background-position: left bottom, center calc(100% - 1px);
  transition: background 0.3s ease-out;
  border-radius: 0;
  font-size: 14px;
  line-height: 1.42;
  padding: 7px 0;
}

.form-control:focus {
  background-image: linear-gradient(#00a9ff, #00a9fc), linear-gradient(rgb(210, 210, 210), rgb(211, 211, 211));
  background-size: 100% 2px, 100% 1px;
  background-color: transparent;
  box-shadow: none;
  transition-duration: 0.3;
  outline: none;
}

/*Progressbar*/
.progress {
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 16em;
  height: 0.65em;

  background-image: -webkit-linear-gradient(top, rgb(161, 170, 180), rgb(169, 179, 189));
  background-image: -moz-linear-gradient(top, rgb(161, 170, 180), rgb(169, 179, 189));
  background-image: -ms-linear-gradient(top, rgb(161, 170, 180), rgb(169, 179, 189));
  background-image: -o-linear-gradient(top, rgb(161, 170, 180), rgb(169, 179, 189));
  background-image: linear-gradient(to bottom, rgb(161, 170, 180), rgb(169, 179, 189));

  /*background-image: -webkit-linear-gradient(top, rgb(100, 108, 119), rgb(169, 179, 189));
  background-image: -moz-linear-gradient(top, rgb(100, 108, 119), rgb(169, 179, 189));
  background-image: -ms-linear-gradient(top, rgb(100, 108, 119), rgb(169, 179, 189));
  background-image: -o-linear-gradient(top, rgb(100, 108, 119), rgb(169, 179, 189));
  background-image: linear-gradient(to bottom, rgb(100, 108, 119), rgb(169, 179, 189));*/
}

.progress-bar {
  border-radius: 10px;
  padding: 0px 0px;

  background-image: -webkit-linear-gradient(top, rgb(73, 191, 234), rgb(31, 144, 182));
  background-image: -moz-linear-gradient(top, rgb(73, 191, 234), rgb(31, 144, 182));
  background-image: -ms-linear-gradient(top, rgb(73, 191, 234), rgb(31, 144, 182));
  background-image: -o-linear-gradient(top, rgb(73, 191, 234), rgb(31, 144, 182));
  background-image: linear-gradient(to bottom, rgb(73, 191, 234), rgb(31, 144, 182));

  /*background-image: -webkit-linear-gradient(top, rgb(73, 191, 234), rgb(16, 71, 90));
  background-image: -moz-linear-gradient(top, rgb(73, 191, 234), rgb(16, 71, 90));
  background-image: -ms-linear-gradient(top, rgb(73, 191, 234), rgb(16, 71, 90));
  background-image: -o-linear-gradient(top, rgb(73, 191, 234), rgb(16, 71, 90));
  background-image: linear-gradient(to bottom, rgb(73, 191, 234), rgb(16, 71, 90));*/
}

/* Buttons */

.btn {
  border: none;
  /*text-transform: uppercase;*/
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  padding: 15px 30px;
  -webkit-transition-duration: 0.6s; /* Safari */
  transition-duration: 0.6s;
}

.btn:active, .btn:visited, .btn:focus {
  outline: none;
  outline-color: none;
  border: none;
}

.btn.btn-sm, .btn-group-sm > .btn-mat {
  font-size: 0.7rem;
  padding: 6px 10px;
}

.btn.btn-md, .btn-group-md > .btn-mat {
  font-size: 0.8rem;
  padding: 10px 20px;
}

.btn.btn-lg, .btn-group-lg > .btn-mat {
  font-size: 0.9rem;
  padding: 15px 30px;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/*Button Default Gray*/
.btn-default {
  background-color: rgb(169, 179, 189) !important;
}

.btn-default:hover {
  background-color: rgb(131, 145, 160) !important;
}

.btn-default:active, .btn-default:focus {
  background-color: rgb(31, 137, 173) !important;
}

/*Button Primary Blue*/
.btn-primary {
  background-color: rgb(31, 137, 173) !important;
}

.btn-primary:hover {
  background-color: rgb(24, 103, 130) !important;
}

.btn-primary:active {
  background-color: rgb(31, 137, 173) !important;
}

/*Button Warning Orange*/
.btn-warning {
  background-color: rgb(253, 108, 74) !important;
}

.btn-warning:hover, .btn-warning:visited, .btn-warning:active, .btn-warning:focus {
  background-color: rgb(253, 70, 28) !important;
}

/*Button Info Yellow*/
.btn-info {
  background-color: rgb(255, 205, 75) !important;
}

.btn-info:hover {
  background-color: rgb(255, 191, 23) !important;
  color: #fff !important;
}

.btn-info:active, .btn-info:visited, .btn-info:focus {
  background-color: rgb(255, 191, 23) !important;
}

/*Button Success Green*/
.btn-success {
  background-color: rgb(159, 213, 99) !important;
}

.btn-success:hover {
  background-color: rgb(135, 202, 61) !important;
  color: #fff !important;
}

.btn-success:active, .btn-success:visited, .btn-success:focus {
  background-color: rgb(135, 202, 61) !important;
}

/*Button Danger Red*/
.btn-danger {
  background-color: rgb(239, 83, 97) !important;
}

.btn-danger:hover {
  background-color: rgb(235, 48, 66) !important;
  color: #fff !important;
}

.btn-danger:active, .btn-danger:active, .btn-danger:focus {
  background-color: rgb(235, 48, 66) !important;
}

/* Custom */

.btn.btn-lk, .btn-group-lk > .btn-mat {
  color: #fff;
  font-size: 1.8rem;
  padding: 0px 0px;
  margin: 10px;
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
}

.btn:focus {
  outline:none !important;
}

.btn {
  vertical-align: middle;
}

.btn-lk4 {
  min-width: 200px;
  max-width: 300px;
  min-height: 70px;
}

.btn-lk5 {
  min-width: 175px;
  max-width: 300px;
  min-height: 70px;
}

#solver-code {
  font-size: 1.7em;
  text-align: center;
  background-color: rgb(211, 218, 224) !important;
  border: none;
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  padding-left: 1.2em;
  padding-right: 1.2em;
}

.media-image {
  max-height: 200px;
  max-width: 400px;
}
