<hr>
<div class="text-center" style="font-size: 35px; margin-top: 40px;">{{ parent.item.question }}</div>
<div class="text-center" *ngIf="parent.item.mediaType == MediaType.IMAGE">
  <img src="{{ parent.item.media }}" class="media-image">
</div>
<div class="text-center" style="margin-top: 40px;">
  <button *ngFor="let answer of parent.item.answers; let i = index" type="button" class="btn btn-{{ getButtonClass(i+1) }} btn-lk btn-lk4" (click)="selectButton(i+1)">{{ answer }}</button>
</div>
<div class="text-center" style="margin-top: 20px;">
  <i class="fas fa-info-circle"></i> Es kann mehrere richtige Antworten geben
</div>
<hr>
<div class="text-center" style="margin-top: 15px;" *ngIf="showNext">
  <button type="button" class="btn btn-primary" style="width: 16em;" (click)="next()">Weiter</button>
</div>
