<hr>
<div class="text-center" style="font-size: 35px; margin-top: 40px;">{{ parent.item.question }}</div>
<div class="text-center" *ngIf="parent.item.mediaType == MediaType.IMAGE">
  <img src="{{ parent.item.media }}" class="media-image">
</div>
<div class="text-center" style="margin-top: 40px;">
  <button type="button" class="btn btn-{{ getButtonClass(4) }} btn-lk btn-lk4" (click)="selectButton(4)">Stimme überhaupt<br> nicht zu</button>
  <button type="button" class="btn btn-{{ getButtonClass(3) }} btn-lk btn-lk4" (click)="selectButton(3)">Stimme nicht zu</button>
  <button type="button" class="btn btn-{{ getButtonClass(2) }} btn-lk btn-lk4" (click)="selectButton(2)">Stimme zu</button>
  <button type="button" class="btn btn-{{ getButtonClass(1) }} btn-lk btn-lk4" (click)="selectButton(1)">Stimme<br> vollkommen zu</button>
</div>
<hr>
<div class="text-center" style="margin-top: 15px;" *ngIf="showNext">
  <button type="button" class="btn btn-primary" style="width: 16em;" (click)="next()">Weiter</button>
</div>
